

body {
  /*Replace before turn in */
  font-size: 16px;
  color: #fff;
  background-color: lightblue;
  font-family: 'Oxygen', sans-serif;
  /*Not working, we need something to separate the body, from the section
   so that our nac stretches across the screen*/
}
/* */
.navb1ar-toggle, .icon-bar {
  border: 1px solid #61122f;
  background-color: white;
}

#header-nav {
  border-radius: 0;
  background-color: grey;
  margin-bottom: 0;
}
/*Restaurant name */
.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: tan;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-nav {
  margin: 0;
}
.navbar-collapse {
  padding: 0;
}

.navbar-nav p {
  border: 1px solid black;
  margin: 0;
}


/*This is very helpful for our hover over item in drop down */
a:hover {
  text-decoration: none;
  color: white;
}

/*Direct children chain! */
section {
  display: block;
  border: 2px solid #fff;
  background-color: grey;
  height: 1000px;
  /*So the text doesn't hit the borders */
  margin-bottom: 15px;
}

section > p {
  color: white;
  margin: 30px 10px 10px;
  clear: both;
}

section > h3 {
  position: relative;
  color: white;
  float: right;
  border: 1px solid white;
  padding: 5px;
  margin: 0;
}

#Chicken {
  background-color: #61122f;
}

#Beef {
  background-color: #2aabd2;
}

#Sushi {
  background-color: #2b542c;
}


/* change navbar background on collapse */
@media (max-width: 768px) {
  .navbar-collapse {
    background: lightseagreen;
  }
}

/*style the form (green box inside section)*/
div section form {
  background-color: darkslategray;
  font-size: 1.25em;
  border: #A52A2A;
  border: 2px solid black;
  width: 50%;
  height: 60%;
  text-align: left;
  color: navajowhite;
  padding: 10px;
  margin: 15px auto 15px;
}

/*style */
#fname,#lname,#email, #dob, #risk, #xp{
  margin-top: 8px;
  clear:right;
  width: 60%;
  border-radius: 4px;
}

#fname:hover,#lname:hover,#email:hover, #dob:hover, #risk:hover, #xp:hover{
  background-color: lightblue;
}

/* these next two are for submit and reset buttons */
input[type=submit], input[name='reset']{
  text-align: left;
  margin-top: 10px;
  background-color: grey;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 60%;
}
